In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
from datetime import datetime, timedelta

plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (50, 10)

data = pd.read_csv('arnau8.csv', sep=';')
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 1000)

In [60]:
#Чтобы открыть необходимый нам датафрейм, в котором собраны все данные, в этом случае это 'objects.csv'
objects = pd.read_csv('objects.csv', sep=';')

In [61]:
#Чтобы изменить дату в столбце AgreementDate, а format это указывает программе, какой формат даты записан в objects
objects['AgreementDate'] = pd.to_datetime(objects['AgreementDate'], format='%d.%m.%Y %H:%M')

#Новая переменная df_sort_date будет иметь данные objects, которые были сортированы по столбцу AgreementDate(уже имеет тип datetime)
df_sort_date = objects.sort_values(by='AgreementDate')

In [62]:
#clear_df это новая чистая dataframe, который имеет столбцы Date, Area и Cost
clear_df = pd.read_csv('clear_df.csv', sep=';')

In [63]:
#Программа будет идти по objects, и искать необходимый нам ЖК, и которые были проданы. И анализированные данные будут в датафрейме clear_df
for i in range(len(objects)):
    if df_sort_date['ObjectName'][i] == 'Арнау - 8' and str(df_sort_date['AgreementDate'][i]) != 'NaT' :
        clear_df = clear_df.append({'Date': df_sort_date['AgreementDate'][i], 'Area':df_sort_date['Area'][i], 'Cost':df_sort_date['Cost'][i]}, ignore_index=True)

#Теперь clear_df будет отсортирован по дате
clear_df = clear_df.sort_values(by='Date')
clear_df

                   Date    Area      Cost
37  2018-11-28 09:13:00   57,95  18397676
59  2018-11-28 09:14:00   39,05  12056688
88  2018-11-28 09:19:00   39,05  11893068
30  2018-11-28 09:23:00   36,53  11346491
58  2018-11-28 10:12:00   38,47  11876841
93  2018-11-28 10:26:00   39,05  12019590
17  2018-11-28 10:34:00   35,74  10602986
107 2018-11-28 11:56:00   35,98  10903739
8   2018-11-28 17:02:00   59,04  18341366
25  2018-11-28 18:26:00    36,5  11337949
32  2018-11-28 18:48:00   36,53  11172998
41  2018-11-29 16:56:00   35,78  11110882
44  2018-11-29 17:16:00   35,93  11055072
54  2018-11-30 19:00:00   39,19  12732154
42  2018-12-06 13:38:00   35,82  10827351
89  2018-12-07 10:39:00   65,28  20695988
53  2018-12-10 12:33:00   38,44  12009989
43  2018-12-12 12:13:00   35,93  11055072
48  2018-12-12 12:32:00   59,94  18710927
78  2018-12-20 15:26:00   60,36  18838550
45  2018-12-23 15:34:00   35,93  11109681
36  2018-12-27 13:35:00   57,91  17850664
31  2018-12-29 08:21:00   36,53  11099071
26  2018-12-29 08:28:00   36,49  10986970
33  2019-01-05 10:44:00   36,53  11476448
21  2019-01-05 11:42:00   58,84  18766312
52  2019-01-05 14:53:00   38,46  12120573
86  2019-01-07 11:35:00   38,32  11788070
73  2019-01-08 12:19:00     111  32393510
87  2019-01-10 17:26:00    38,3  12032596
3   2019-01-11 13:15:00   36,35  12478096
6   2019-01-11 17:45:00   36,12  12399137
4   2019-01-12 11:15:00   36,35  11336240
57  2019-01-12 12:52:00   38,49  12498201
113 2019-01-16 15:40:00   39,05  13366815
91  2019-01-18 10:05:00   38,32  11913475
92  2019-01-18 11:34:00    38,3  12032596
76  2019-01-18 14:08:00  111,05  32408831
34  2019-01-18 16:10:00   36,53  11158570
70  2019-01-23 10:38:00   36,23  11835524
80  2019-01-23 15:25:00   87,42  26226750
20  2019-01-25 10:25:00   58,72  19815048
38  2019-01-28 11:40:00   57,95  17864536
24  2019-01-29 12:10:00   36,51  11255080
112 2019-01-30 10:47:00    38,3  12484170
96  2019-01-30 15:10:00   38,32  12004473
27  2019-01-31 17:21:00   36,49  11552234
69  2019-02-02 13:55:00   36,23  13248494
49  2019-02-05 11:46:00   84,36  24958282
2   2019-02-06 10:24:00   36,35  12767516
7   2019-02-06 11:17:00   36,12  11111332
22  2019-02-08 14:50:00   58,84  18216864
28  2019-02-08 16:17:00   36,49  11431898
23  2019-02-10 11:09:00   58,84  18103891
79  2019-02-13 13:26:00  111,05  32493231
66  2019-02-13 14:26:00   36,35  13375250
68  2019-02-14 16:22:00   59,04  18392141
67  2019-02-15 11:11:00   36,12  12635149
13  2019-02-16 09:26:00   36,35  11333441
50  2019-02-19 11:16:00   60,27  19095754
55  2019-02-22 11:30:00   65,28  20186981
84  2019-02-23 10:26:00  111,05  32835264
9   2019-02-23 11:58:00   59,04  18278784
18  2019-02-24 17:13:00   81,27  24185208
5   2019-02-25 09:42:00   36,12  12875548
14  2019-02-25 09:55:00   36,12  11213039
71  2019-02-25 13:25:00   36,23  11364204
109 2019-02-25 15:25:00   36,25  11384990
62  2019-02-26 08:20:00   36,27  12877231
61  2019-02-26 08:32:00    36,5  12836701
64  2019-02-26 15:27:00   36,23  13363433
110 2019-02-26 16:14:00   36,18  12548424
39  2019-02-27 09:48:00   57,95  18108216
15  2019-02-27 10:23:00   36,34  11295148
83  2019-02-27 11:27:00  111,05  32931211
19  2019-02-28 16:35:00   58,71  18287783
16  2019-03-01 09:21:00   57,83  17548860
99  2019-03-01 12:35:00   85,16  28862427
60  2019-03-06 11:24:00   65,28  20292412
63  2019-03-06 15:27:00      59  21399538
35  2019-03-09 14:13:00   36,53  11458915
111 2019-03-10 14:44:00   57,92  18003852
29  2019-03-12 16:09:00   36,49  11327909
10  2019-03-13 12:04:00   59,04  18431815
0   2019-03-14 15:34:00   57,96  18642486
1   2019-03-15 11:57:00   57,96  19572248
40  2019-03-16 15:27:00   57,95  18795619
72  2019-03-18 13:10:00   57,96  20277335
46  2019-03-22 14:04:00   35,93  12715553
47  2019-03-25 13:52:00   58,32  17784685
74  2019-03-30 10:42:00   87,38  26339073
106 2019-04-03 09:48:00   80,74  24027480
115 2019-04-03 11:08:00   39,05  12483504
11  2019-04-06 14:17:00   36,23  11481219
82  2019-04-08 15:41:00   60,36  18513432
100 2019-04-13 14:11:00   85,16  28862428
97  2019-04-15 15:38:00   85,02  31130159
94  2019-04-24 16:57:00   65,16  20087752
104 2019-04-30 13:59:00  111,05  33508448
56  2019-05-02 11:01:00   64,17  20200476
75  2019-05-06 16:56:00   60,36  18725690
51  2019-05-06 17:38:00   64,19  19996285
85  2019-05-11 12:20:00   64,18  19749276
81  2019-05-14 13:06:00   60,36  18479031
114 2019-05-21 12:53:00   65,28  20299202
77  2019-05-21 16:32:00   87,42  27450665
102 2019-05-23 14:47:00   87,42  26251928
12  2019-05-28 15:13:00   58,11  19128989
95  2019-06-08 11:29:00   64,18  20661758
103 2019-06-08 14:25:00   87,42  26268713
65  2019-06-12 16:30:00   57,96  20968214
108 2019-06-13 12:19:00   57,74  17848589
101 2019-06-14 17:05:00   80,24  24202197
90  2019-06-27 12:11:00   64,18  20383400
98  2019-06-27 15:47:00   85,07  29108495
105 2019-06-28 09:59:00   87,42  25899440

In [64]:
#Теперь отправим необходимый нам dataframe 
df = clear_df
jk_table = df[0:0]
df['Date'] = pd.to_datetime(df['Date'])
df.index = df['Date']
str(df.sort_index()['Date'][0]).split(' ')[0]
str(df.sort_index()['Date'][-1]).split(' ')[0]

'2019-06-28'

In [65]:
#определяет первый день
first_day = df['Date'][0]
#определяет второй день
last_day = df['Date'][-1]
#вычислить количество дней от начала продажи, до конца продажи
all_day = int(str(last_day - first_day).split(' ')[0])

day = datetime.strptime(str(first_day).split(' ')[0], '%Y-%m-%d')

#Этот цикл заполняет пустой jk_table с пустыми элементами
for i in range(all_day+1):
    
    jk_table = jk_table.append({'Date': str(day).split(' ')[0], 'Area':0, 'Cost':0}, ignore_index=True)
    day = (day + timedelta(days=1)).strftime('%Y-%m-%d')
    day = datetime.strptime(day, '%Y-%m-%d')

#Заново определяет дату, т.к дата сбилась после первого цикла
day = datetime.strptime(str(first_day).split(' ')[0], '%Y-%m-%d') 

#Этот цикл будет заполнять jk_table ценными информациями, которые имелись там
for j in range(len(jk_table)):
    
    area = 0
    cost = 0
    for i in range(len(df)):
        #Дает условие, если дата в заполненном с пустыми элементами jk_table с тем данным, то добавляет его.
        if jk_table['Date'][j] == str(df['Date'][i]).split(' ')[0]:
            area += float('.'.join(df['Area'][i].split(','))) #Area имеет неправильный тип
            cost += df['Cost'][i]

        
    jk_table['Date'][j] = str(day).split(' ')[0]
    jk_table['Area'][j] = area
    jk_table['Cost'][j] = cost
    day = (day + timedelta(days=1)).strftime('%Y-%m-%d')
    day = datetime.strptime(day, '%Y-%m-%d')

jk_table

           Date    Area       Cost
0    2018-11-28  453.89  139949392
1    2018-11-29   71.71   22165954
2    2018-11-30   39.19   12732154
3    2018-12-01       0          0
4    2018-12-02       0          0
5    2018-12-03       0          0
6    2018-12-04       0          0
7    2018-12-05       0          0
8    2018-12-06   35.82   10827351
9    2018-12-07   65.28   20695988
10   2018-12-08       0          0
11   2018-12-09       0          0
12   2018-12-10   38.44   12009989
13   2018-12-11       0          0
14   2018-12-12   95.87   29765999
15   2018-12-13       0          0
16   2018-12-14       0          0
17   2018-12-15       0          0
18   2018-12-16       0          0
19   2018-12-17       0          0
20   2018-12-18       0          0
21   2018-12-19       0          0
22   2018-12-20   60.36   18838550
23   2018-12-21       0          0
24   2018-12-22       0          0
25   2018-12-23   35.93   11109681
26   2018-12-24       0          0
27   2018-12-25       0          0
28   2018-12-26       0          0
29   2018-12-27   57.91   17850664
30   2018-12-28       0          0
31   2018-12-29   73.02   22086041
32   2018-12-30       0          0
33   2018-12-31       0          0
34   2019-01-01       0          0
35   2019-01-02       0          0
36   2019-01-03       0          0
37   2019-01-04       0          0
38   2019-01-05  133.83   42363333
39   2019-01-06       0          0
40   2019-01-07   38.32   11788070
41   2019-01-08     111   32393510
42   2019-01-09       0          0
43   2019-01-10    38.3   12032596
44   2019-01-11   72.47   24877233
45   2019-01-12   74.84   23834441
46   2019-01-13       0          0
47   2019-01-14       0          0
48   2019-01-15       0          0
49   2019-01-16   39.05   13366815
50   2019-01-17       0          0
51   2019-01-18   224.2   67513472
52   2019-01-19       0          0
53   2019-01-20       0          0
54   2019-01-21       0          0
55   2019-01-22       0          0
56   2019-01-23  123.65   38062274
57   2019-01-24       0          0
58   2019-01-25   58.72   19815048
59   2019-01-26       0          0
60   2019-01-27       0          0
61   2019-01-28   57.95   17864536
62   2019-01-29   36.51   11255080
63   2019-01-30   76.62   24488643
64   2019-01-31   36.49   11552234
65   2019-02-01       0          0
66   2019-02-02   36.23   13248494
67   2019-02-03       0          0
68   2019-02-04       0          0
69   2019-02-05   84.36   24958282
70   2019-02-06   72.47   23878848
71   2019-02-07       0          0
72   2019-02-08   95.33   29648762
73   2019-02-09       0          0
74   2019-02-10   58.84   18103891
75   2019-02-11       0          0
76   2019-02-12       0          0
77   2019-02-13   147.4   45868481
78   2019-02-14   59.04   18392141
79   2019-02-15   36.12   12635149
80   2019-02-16   36.35   11333441
81   2019-02-17       0          0
82   2019-02-18       0          0
83   2019-02-19   60.27   19095754
84   2019-02-20       0          0
85   2019-02-21       0          0
86   2019-02-22   65.28   20186981
87   2019-02-23  170.09   51114048
88   2019-02-24   81.27   24185208
89   2019-02-25  144.72   46837781
90   2019-02-26  145.18   51625789
91   2019-02-27  205.34   62334575
92   2019-02-28   58.71   18287783
93   2019-03-01  142.99   46411287
94   2019-03-02       0          0
95   2019-03-03       0          0
96   2019-03-04       0          0
97   2019-03-05       0          0
98   2019-03-06  124.28   41691950
99   2019-03-07       0          0
100  2019-03-08       0          0
101  2019-03-09   36.53   11458915
102  2019-03-10   57.92   18003852
103  2019-03-11       0          0
104  2019-03-12   36.49   11327909
105  2019-03-13   59.04   18431815
106  2019-03-14   57.96   18642486
107  2019-03-15   57.96   19572248
108  2019-03-16   57.95   18795619
109  2019-03-17       0          0
110  2019-03-18   57.96   20277335
111  2019-03-19       0          0
112  2019-03-20       0          0
113  2019-03-21       0          0
114  2019-03-22   35.93   12715553
115  2019-03-23       0          0
116  2019-03-24       0          0
117  2019-03-25   58.32   17784685
118  2019-03-26       0          0
119  2019-03-27       0          0
120  2019-03-28       0          0
121  2019-03-29       0          0
122  2019-03-30   87.38   26339073
123  2019-03-31       0          0
124  2019-04-01       0          0
125  2019-04-02       0          0
126  2019-04-03  119.79   36510984
127  2019-04-04       0          0
128  2019-04-05       0          0
129  2019-04-06   36.23   11481219
130  2019-04-07       0          0
131  2019-04-08   60.36   18513432
132  2019-04-09       0          0
133  2019-04-10       0          0
134  2019-04-11       0          0
135  2019-04-12       0          0
136  2019-04-13   85.16   28862428
137  2019-04-14       0          0
138  2019-04-15   85.02   31130159
139  2019-04-16       0          0
140  2019-04-17       0          0
141  2019-04-18       0          0
142  2019-04-19       0          0
143  2019-04-20       0          0
144  2019-04-21       0          0
145  2019-04-22       0          0
146  2019-04-23       0          0
147  2019-04-24   65.16   20087752
148  2019-04-25       0          0
149  2019-04-26       0          0
150  2019-04-27       0          0
151  2019-04-28       0          0
152  2019-04-29       0          0
153  2019-04-30  111.05   33508448
154  2019-05-01       0          0
155  2019-05-02   64.17   20200476
156  2019-05-03       0          0
157  2019-05-04       0          0
158  2019-05-05       0          0
159  2019-05-06  124.55   38721975
160  2019-05-07       0          0
161  2019-05-08       0          0
162  2019-05-09       0          0
163  2019-05-10       0          0
164  2019-05-11   64.18   19749276
165  2019-05-12       0          0
166  2019-05-13       0          0
167  2019-05-14   60.36   18479031
168  2019-05-15       0          0
169  2019-05-16       0          0
170  2019-05-17       0          0
171  2019-05-18       0          0
172  2019-05-19       0          0
173  2019-05-20       0          0
174  2019-05-21   152.7   47749867
175  2019-05-22       0          0
176  2019-05-23   87.42   26251928
177  2019-05-24       0          0
178  2019-05-25       0          0
179  2019-05-26       0          0
180  2019-05-27       0          0
181  2019-05-28   58.11   19128989
182  2019-05-29       0          0
183  2019-05-30       0          0
184  2019-05-31       0          0
185  2019-06-01       0          0
186  2019-06-02       0          0
187  2019-06-03       0          0
188  2019-06-04       0          0
189  2019-06-05       0          0
190  2019-06-06       0          0
191  2019-06-07       0          0
192  2019-06-08   151.6   46930471
193  2019-06-09       0          0
194  2019-06-10       0          0
195  2019-06-11       0          0
196  2019-06-12   57.96   20968214
197  2019-06-13   57.74   17848589
198  2019-06-14   80.24   24202197
199  2019-06-15       0          0
200  2019-06-16       0          0
201  2019-06-17       0          0
202  2019-06-18       0          0
203  2019-06-19       0          0
204  2019-06-20       0          0
205  2019-06-21       0          0
206  2019-06-22       0          0
207  2019-06-23       0          0
208  2019-06-24       0          0
209  2019-06-25       0          0
210  2019-06-26       0          0
211  2019-06-27  149.25   49491895
212  2019-06-28   87.42   25899440

In [66]:
#Данная строка отправляет готовые данные в Новый csv файл
jk_table.to_csv('Finish_Arnau8.csv', sep=';')